.v-input
	&.v-input--is-focused
		.v-icon, .v-select__slot input
			color: rgba(0, 0, 0, 0.87) !important
			caret-color: rgba(0, 0, 0, 0.87) !important

		.v-select__slot label
			color: rgba(0, 0, 0, .3) !important

div[role=combobox]
	margin-bottom: 0

	+ .v-text-field__details
		display: none

.v-autocomplete__content
	.v-list-item
		.v-list-item__action
			margin: 0