.v-input
	&.v-input--is-focused
		.v-icon, .v-select__slot input
			color: rgba(0, 0, 0, 0.87) !important
			caret-color: rgba(0, 0, 0, 0.87) !important

		.v-select__slot label
			color: rgba(0, 0, 0, .3) !important

div[role=combobox]
	margin-bottom: 0

	+ .v-text-field__details
		display: none

.v-autocomplete__content
	.v-list-item
		.v-list-item__action
			margin: 0

		.faculty-item
			width: calc(100% + 16px)
			height: 48px
			line-height: 48px
			background: rgba(0,0,0,.05)
			margin-right: -16px
			padding-left: 16px

		.faculty-school
			color: #aaa
			font-size: 80%
			padding-left: .5rem

div.google-visualization-tooltip
	border: 2px solid rgb(193, 193, 193)
	width: auto !important
	ul
		padding: 0

		li.google-visualization-tooltip-item
			span
				font-family: "Roboto", sans-serif !important

			&:first-child
				span
					font-size: 14px
					font-weight: 500
					color: rgba(66, 66, 66) !important

			&:last-child
				span
					display: block
					&:first-child
						font-size: 14px !important
						color: rgb(117, 117, 117) !important

					&:last-child
						font-size: 24px !important
						color: rgb(56, 113, 207) !important
						font-weight: initial !important
